{% extends 'layout.html' %}
{% load static %}


{% block title %}
	{{image.image_name}}
{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/view_image.css' %}"> 
	<script type="text/javascript" src="{% static 'js/view_image.js' %}"></script> 
{% endblock %}


{% block body %}
	<div class="area" >
          <ul class="circles">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
          </ul>
  </div >
	<div class="image-container">
		<div class="main-image-container">
			<img class="main-image" src="/static/images/uploads/{{image.main_image_name}}">
		</div>
		<div class="float-right">
			<div class="user-details">
				<img src="/static/images/{{image.upload_by.profile_picture}}">
				<a href="/user_profile/{{image.upload_by.id}}"><h4>{{image.upload_by}}</h4></a>
			</div>
			<h1 align="center">{{image.image_name}}</h1>
			<p>{{image.image_description}}</p>
			<p> {{image.upload_date}}</p>
			<button id="myBtn" onclick = load_comments({{image.id}});>Comments</button>
			<div class="image-buttons" id="{{image.id}}">
				<a href="/download_image/{{image.main_image_name}}" id="download-image">Download</a>
				<i id="like" onclick="like_image({{image.id}})" class='bx bx-heart' title="Like"></i>
				<p id="like_no">{{image.likes}}</p>
				<p>likes</p>
			</div>
		</div>
	</div>
	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close" id="close">&times;</span>
			<p style="font-size: 20px; font-weight: bold;">Add comments</p>
			<div class="comments-content">
				<div class="add-comment">
					<form>
						{% csrf_token %}
						<textarea name="new-comment" id="new-comment"></textarea>
						<input type="submit" value="Post" id="post-comment" onclick = add_comment({{image.id}})>
					</form>
				</div>
				<div class="posted-comments" id="posted_comments">
					
				</div>
			</div>
	  	</div>
	</div>
{% endblock %}